<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

body, html {
  height: 100%;
}


</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">St. Xavier's College</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-ato">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only"></span></a>
      </li>
        {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'insert' %}">Add Student Details</a>
      </li>
             <li class="nav-item">
        <a class="nav-link" href="{% url 'tinsert' %}">Add Teacher Details</a>
      </li>
        {% endif %}
      <li class="nav-item" >
        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
        {% if user.is_authenticated %}
        <li class="nav-item" >
        <a class="nav-link" >{{user.get_username}}</a>
      </li>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Log-Out</a>
      </li>
        {% endif %}
    </ul>
  </div>

</nav>
{%block  child_block%}
{%endblock%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="{% static 'js/jquery.js' %}"></script> -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
<div class="footer">
     © 2020 Copyright
</div>
</footer>
</body>
</html>