<!DOCTYPE html>
{% extends 'star/home.html' %}

{% block child_block %}
    <style>
      body{
          background-color: #edecd6;
      }
      </style>
  {% if validlink %}
     <div class="container" align="center" style="padding: 200px">
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <h6>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </h6>
     </div>
  {% endif %}
{% endblock %}