<!DOCTYPE html>
{% extends 'star/home.html' %}
{% block child_block %}
    <style>
    body{
        background-color: #edecd6;
    }
    </style>
    <div class="container" align="cente" style="padding:200px ">
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.<a href="{% url 'login' %}">Click this to login</a>
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
    </div>
{% endblock %}