<!DOCTYPE html>
{%extends 'star/home.html'%}
{%block  child_block%}
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <hr>
    <h1 align="center">List of all students and their details</h1>
<hr>
<div id="container" align="center" style="padding-top:40px;padding-left:180px;padding-right:180px ">

{{ message }}

<table class="table table-bordered table-hover table-responsive table-success table-stripped table-sm" border="10">

    <thead >
         <th>eno</th>
         <th>first name</th>
         <th>last name</th>
         <th>Email</th>
         <th>Address</th>
         <th>Phone</th>
         <th>Action</th>
    </thead>
    {% for student in page_obj %}
        <tr>
            <td>{{student.eno}}</td>
            <td>{{student.fname}}</td>
            <td>{{student.lname}}</td>
            <td>{{student.email}}</td>
            <td>{{student.address}}</td>
            <td>{{student.phone}}</td>
            <td>
                {% include 'star/modalfile.html' %}
                <button type="button" class="btn btn-danger" onClick="deleteUser({{ student.eno }})">Delete</button>
                <a href="{% url 'update' student.eno %}" class="btn btn-warning bt-sm")">Update</a> 
                
                 </td>       
        </tr>
       
    {% endfor %}

</table>
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDelete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h5>
        <button type="button" class="close hideModal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <p>Are you sure? Changes are permanent!
        </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="deleteBut" >Delete</button>
        </div>
    </div>
    </div>
  </div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{%endblock%}